/** CSS effect: rounded text background */

:root {
  --text-bg-radius: 16px;
  --text-bg-color: rgba(255, 255, 255, 0.99);
}

.container {
  display: flex;
  align-items: flex-end;
  width: 647px;
  height: 421px;
  background-image: url(../images/image.webp);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--text-bg-radius);
}

.container .title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.container .title .text-bg-round {
  padding: 5px 40px 5px 5px;
}

.container .sub-title {
  font-size: 16px;
  padding-bottom: 0;
}

/** Text background */

.text-bg-round {
  position: relative;
  width: fit-content;
  border-top-right-radius: var(--text-bg-radius);
  background-color: var(--text-bg-color);
}

.text-bg-round:first-of-type::before,
.text-bg-round::after {
  content: ' ';
  position: absolute;
  width: var(--text-bg-radius);
  height: var(--text-bg-radius);
  background: radial-gradient(circle var(--text-bg-radius) at top right, #0000 95%, var(--text-bg-color)) no-repeat bottom left;
}

.text-bg-round:first-of-type::before {
  left: 0;
  top: calc(var(--text-bg-radius) * -1);
}

.text-bg-round::after {
  right: calc(var(--text-bg-radius) * -1);
  bottom: 0;
}

/** Misc styles */

body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: orangered;
}
